<div class="panel-body">
  <table class="table table-bordered table-hover">
    <tbody>
        <tr class="info">
            <th>Task name</th>
            <th>Tags</th>
            <th>Actual effort</th>
            <th>Estimated effort</th>
            <th>Due date</th>
        </tr>
                
<!--use ng-switch, ng-if, ng-repeat-->
        <tr ng-switch = "task.is_high_priority" ng-repeat = "task in tasks" ng-if = "task.obj_status == 'active'">
                
            <td ng-switch-when = "true" ng-style = "stylePrior" ng-click = "next(task)" title="подробнее">{{task.name}}</td>
            <td ng-switch-when = "undefined" ng-click = "next(task)" title = "подробнее" ng-style = "pointer">{{task.name}}</td>
                
            <td><span ng-repeat="tag in task.tags">{{tag}}&nbsp;&nbsp;</span></td>
            <td>{{task.actual_effort}}</td>
            <td>{{task.estimated_effort}}</td>
            <!--use фильтр date-->
            <td>{{task.due_date | date:"yyyy-MM-dd"}}</td> 
        </tr>
    </tbody>
  </table>
</div>